@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto';
    font-size: 9pt;
    color: #808080;
    padding: 0px;
    margin: 5px;
    background: #1a1a1a;
    background: radial-gradient(circle, #2c2c2c 0%, #1a1a1a 100%);
}
.bg {
    background: #222222;
    box-shadow: 0 0 3px #381601;
    max-width: 1000px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    padding: 0px;
    border: solid 1px #181818;
    border-radius: 3px;
    overflow: hidden;
}
.header {
    white-space: nowrap;
    padding: 5px;
    display: box;
}
.logo {
    display: flex;
}

hr {
    border: 0px;
    border-top: 3px dotted #9d4109;
    margin: 4px;
    padding-bottom: 6px;
}
a:link {
    text-decoration: none;
    color: #9d4109;
}
a:active {
    text-decoration: none;
    color: #9d4109;
}
a:visited {
    text-decoration: none;
    color: #9d4109;
}
a:hover {
    text-decoration: underline dotted;
    color: #dd720b;
}

/* Navig */
nav {
    padding: 10px;
    background: #2c2c2c;
    background: linear-gradient(to bottom, #2c2c2c, #1a1a1a);
    border: solid 1px #101010;
    border-radius: 3px;
    box-shadow: 0 0 3px #381601;
}
nav a {
    color: #808080;
    padding: 0 5px 0 5px;
    font-size: 10pt;
}
nav a:link {
    color: #808080;
}
nav a:active {
    color: #808080;
}
nav a:visited {
    color: #808080;
}
nav a:hover {
    text-decoration: none;
    color: #dd720b;
    padding: 0 5px 0 5px;
}
/* --------------- */
.catalog {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.catalog li {
    padding: 0px;
}

.middle {
    white-space: nowrap;
    padding: 5px;
    display: flex;
}
@media (max-width: 650px) {
    .middle {
        display: block;
    }
}
.side {
    width: 250px;
    margin-right: 10px;
}
.block {
    background: #222222;
    border: solid 1px #101010;
    border-radius: 3px;
    box-shadow: 0 0 3px #381601;
    margin-bottom: 10px;
}
.name {
    width: Calc(100% - 10px);
    background: #2c2c2c;
    background: linear-gradient(to bottom, #2c2c2c, #1a1a1a);
    padding: 5px;
    border-bottom: solid 1px #101010;
}
.box-content {
    width: 100%;
    padding: 5px;
}
.section {
    width: 100%;
    margin-right: 3px;
}
.grid {
    width: 100%;
    background: #2c2c2c;
    border: solid 1px #101010;
    border-radius: 3px;
    box-shadow: 0 0 3px #381601;
    margin-bottom: 10px;
    align-items: flex-start;
    display: flex;
}
.item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 112px;
    margin: 5px;
}
.title {
    font-size: 14pt;
    padding: 5px;
}
.content {
    padding: 5px;
    flex: 1 1 auto;
}
.info {
    font-size: 8pt;
    padding: 5px;
}
.img {
    background: #2c2c2c;
    background: linear-gradient(to bottom, #2c2c2c, #1a1a1a);
    width: 110px;
    height: 110px;
    box-shadow: 0 0 3px #381601;
    border: solid 1px #181818;
    margin: 5px;
}
.footer {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #2c2c2c;
    background: linear-gradient(to bottom, #2c2c2c, #1a1a1a);
    border: 0px;
    border-top: 1px #101010;
    padding: 10px;
    text-align: justify;
}

.theme-button {
    width: 24px;
    height: 24px;
    background: none;
    cursor: pointer;
}

.theme-button:hover {
    opacity: 0.8;
}

.theme-button:focus {
    background: #555;
    box-shadow: 0 0 5px #9d4109;
}